.post{
  border-bottom: 1px solid #0065bd;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 5px;
}
.post:hover{
  cursor: pointer;
  border: 1px solid #0065bd;
}
.posted{
  font-size: 12px;
  color:darkgray;
}
html
{
  height:101%;
} 
h5, h6{
  color:#0065bd;
}
.user{
  color:darkgray;
  text-decoration: none;
  font-size: 12px;
}
.user:hover{
  color:#0065bd;
  text-decoration: underline;
}
.postedBy{
  color:darkgray;
  font-size: 12px;
}
.btn{
  background-color: #0065bd;
  color: white;
  border: 2px solid transparent;
}
.btn:hover{
  background-color: white;
  color: #0065bd;
  border: 2px solid #0065bd;
}
#sidebar-wrapper{
  border: 2px solid #0065bd;
  padding: 7px;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
  min-width: 250px;
}
#page-content-wrapper{
  width: 100%;
}
.create-title, .edit-title{
  border-bottom: 1px solid #0065bd;
}
#create, #edit{
  width: 1000px;
  padding: 20px;
}
#post-body{
  height: 250px;
}
#category-title, #profiles-title{
  border-bottom: 1px solid #0065bd;
}
#category, #profile{
  border: 1px solid transparent;
}
#category:hover, #profile:hover{
  border: 1px solid #0065bd;
  cursor: pointer;
}
#categories, #profiles{
  max-width: 300px;
}
#posts-title{
  border-bottom: 1px solid #0065bd;
  margin-left: 30px;
}
#posted-in{
  padding: 0px;
  margin: 0px;
}
.categories-posted, .admin-of{
  padding: 0px;
  margin: 0px;
}
.category-link, .edit-link, .forgot-password{
  color:#0065bd;
  text-decoration: none;
  font-size: 15px;
}
.category-link:hover, .edit-link:hover, .forgot-password:hover{
  color:#0065bd;
  text-decoration: underline;
}
#post-body-text{
  padding-left: 30px;
  overflow-wrap: break-word;
}
#post-info{
  margin-left: 30px;
  padding-top: 20px;
  text-align: center;
}
#comment-text{
  height: 80px;
}
#comments{
  margin-left: 30px;
  max-width: 1250px;
  word-wrap: break-word;
}
.comment{
  border-bottom: 1px solid #0065bd;
  padding: 5px;
  margin-top: 15px;
}
#admin-sidebar,#page-content-wrapper{
  border: 2px solid #0065bd;
  padding: 7px;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
  min-width: 200px;
}
img{
  max-height: 500px;
  width: auto;
}
.empty-button{
  outline: none;
  padding: 5px; 
  border: 0px; 
  box-sizing: none; 
  background-color: transparent;  
}
.empty-button:active, .empty-button:focus{
  outline: none;
}
#post-info-score, #post-title-col{
  text-align: center;
}
#post-info-time, #edit-post, #edit-comm,#created-comm{
  text-align: end;
}
#create-btn, #delete-post-btn{
  margin-bottom: 20px;
}
#category-name,#post-title-col{
  margin-top: 10px;
}
#delete-post, #post-title-col,#edit-post-col{
  padding: 0;
}
#username{
  margin-bottom: 20px;
}
#small-img{
  width: 65px;
  height: 65px;
}
#img-preview, #delete-avatar{
  text-align: end;
}
#post-pic{
  padding-left: 30px;
}
#med-img{
  width: 160px;
  height: 160px;
}
#edit-post{
  margin-top: 10px;
}
#messages{
  padding-left: 10px;
  text-align: center;
}
#del-comment{
  max-width: 30px;
  padding: 0;
}
#edit-comment{
  width: 20px;
  padding: 0;
}
#delete-comment{
  margin-bottom: 5px;
  text-align: end; 
}
#comment-alert{
  text-align: center;
}
#back-to-top{
  position: fixed;
  bottom: 50px;
  right: 30px;
}
#category-select {
  border:0px;
  outline:0px;
  color: #0065bd;
  font-weight: 500;
  margin: 0;
}