.post{
    border-bottom: 1px solid gray;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 5px;
}
.post:hover {
    cursor: pointer;
    border: 1px solid gray;
}